<?php

// uncomment the following to define a path alias
// Yii::setPathOfAlias('local','path/to/local-folder');

// This is the main Web application configuration. Any writable
// CWebApplication properties can be configured here.
return array(
	'basePath'=>dirname(__FILE__).DIRECTORY_SEPARATOR.'..',
    'commandPath' => dirname(__FILE__).DIRECTORY_SEPARATOR.'..'.DIRECTORY_SEPARATOR.'shell',
	'name'=>'slackbot',

	// preloading 'log' component
	'preload'=>array('log'),

	// autoloading model and component classes
	'import'=>array(
		'application.models.*',
		'application.components.*',
	),

	'modules'=>array(
	),

	// application components
	'components'=>array(
		'db'=>array(
			'connectionString' => 'mysql:host=localhost;dbname=bot_db',
			'emulatePrepare' => true,
			'username' => 'bot_user',
			'password' => 'my_super_secret_password',
			'charset' => 'utf8',
            'class' => 'application.components.DbConnection',
		),
		'log'=>array(
			'class'=>'CLogRouter',
			'routes'=>array(
				array(
					'class'=>'CFileLogRoute',
					'levels'=>'emerg,notice,info,error,warning',
                ),
                array(
                    'class' => 'CWebLogRoute',
                    'enabled' => true,
                    'levels' => 'error, warning, trace, notice',
                    'categories' => 'application',
				),
			),
		),
	),

);
